@model MoviesDBManager.Models.User
@{
    ViewBag.Title = "Group Emails";
    //var users = (List<user>)
}

<h2>Envoi de courriel</h2>


@*@foreach (var user in users)
    {

    }*@

<!--<form action="~/Views/Accounts/GroupEmails" method="post">-->
@*@for(int index=1) On mettrait l'index de l'usager içi*@
<!--<input type="checkbox" name="chosenUser" value="@*@index*@"/>
</form>-->
@* Pour chercher l'info de la sélection de courriel' *@